@import 'vars';

body {
  margin: 0;
}
.app {
  min-height: 100vh;
  margin: 0;
  margin-top: $container-margin;

  h1, h2, h3 {
    margin: 0;
    text-align: center;
    @media (max-width: $screen-sm) {
      margin: 0 $container-margin;
    }
  }
}

.loading-wrapper {
  margin: auto;
}

button, input, p {
  font-size: 15px;
}