@import 'vars';

.loading-wrapper {
  margin: auto;
  text-align: center;
  &.loading {
    .loading-indicator {
      border: 5px solid $brand-accent-contrast;
      border-top: 5px solid $brand-accent;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
      margin: auto;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}