@import 'vars';
.search-result {
  margin: 5px;
  position: relative;
  img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
  }
  span {
    text-align: center;
    width: 100%;
    font-size: 13px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: $brand-accent-contrast;
    background-color: transparentize($color: #000000, $amount: 0.5);
  }

  @media (max-width: $screen-sm) {
    img {
      width: 100px;
      height: 150px;
    }
  }
}