@import 'vars';

.search-bar {
  display: flex;
  border: 1px solid $light-grey;
  margin-top: $container-margin;
  input {
    flex: 1;
    padding: $container-margin;
    border: 0;
    border-radius: 3px 0 0 3px;
  }
  button {
    background: $brand-accent;
    color: $brand-accent-contrast;
    border-radius: 0 3px 3px 0;
    border: 0;
  }
}